.description-animal {
  color: $black;
}

.description-animal__item:first-child,
.description-animal__item:nth-child(2),
.description-animal__item:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.description-animal__subtitle {
  @include fourth-level-headings();
}

.description-animal__subtitle--diet {
  margin-top: 33px;
  margin-bottom: 0;
}

.description-animal__text--diet {
  margin-top: 40px;
}

.description-animal__subtitle--range {
  margin-top: 5px;
  margin-bottom: 28px;
}

.description-animal__text--range {
  margin-top: 10px;
}

.description-animal__subtitle--habitat {
  margin-top: 0px;
}

.description-animal__text--habitat {
  margin-top: 6px;
}

.description-animal__subtitle--general-info {
  margin-top: 0;
  margin-bottom: 0;
}

.description-animal__text--general-info {
  margin-top: 10px;
  margin-bottom: 20px;
}

.description-animal__subtitle--physical {
  margin-bottom: 0;
}

.description-animal__text--physical {
  margin-top: 9px;
  margin-bottom: 20px;
}

.description-animal__subtitle--lifestyle {
  margin-bottom: 0;
}

.description-animal__text--lifestyle {
  margin-top: 9px;
  margin-bottom: 20px;
}

.description-animal__subtitle--habitat2 {
  margin-bottom: 0;
}

.description-animal__text--habitat2 {
  margin-top: 10px;
}

.description-animal__subtitle--diet2 {
  margin-bottom: 0;
}

.description-animal__text--diet2 {
  width: 1157px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.description-animal__link-map {
  &:active {
    color: $orange;
  }
}

.description-animal__button {
  width: 130px;
  padding: 10px;
  border: 1px solid $main-text-color;
  border-radius: 5px;
  margin-top: 32px;
  cursor: pointer;
}

.description-animal--hidden {
  max-height: 275px;
  overflow: hidden;
}

@media (max-width: $small-desktop-width) {
  .description-animal__subtitle--diet {
    margin-top: 25px;
  }
  .description-animal__text--diet {
    margin-top: 31px;
  }
  .description-animal__text--diet2 {
    width: 100%;
  }
}

@media (max-width: $tablet-width) {
  .description-animal__subtitle--diet {
    margin-top: 31px;
  }
  .description-animal__text--diet {
    width: 540px;
    margin-top: 36px;
    margin-bottom: 0;
  }
  .description-animal__text--general-info {
    margin-top: 23px;
    margin-bottom: 22px;
  }
  .description-animal__text--diet2 {
    margin-bottom: 31px;
  }
}

@media (max-width: $mobile-width) {
  .description-animal {
    width: 100%;
    padding: 0 10px;
  }
  .description-animal__subtitle--diet {
    width: 135px;
  }
  .description-animal__subtitle--diet {
    margin-top: 12px;
  }
  .description-animal__text--diet {
    margin-top: 18px;
  }
  .description-animal__subtitle--range {
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .description-animal__text--range {
    margin-top: 30px;
  }
  .description-animal__subtitle--general-info {
    margin-top: 4px;
  }
  .description-animal__text--general-info {
    margin-top: 11px;
  }
}
