.donate-top-photo {
  width: 100%;
  height: 386px;
  background-image: url("../assets/img/giant-panda_desktop.jpg");
  background-repeat: no-repeat;
  background-position: center -342px;
  background-size: cover;
}

@media (max-width: $small-desktop-width) {
  .donate-top-photo {
    height: 390px;
    background-image: url("../assets/img/giant-panda_donate_small-desktop.jpg");
    background-position: center;
  }
}

@media (max-width: $tablet-width) {
  .donate-top-photo {
    height: 369px;
    background-image: url("../assets/img/giant-panda_donate_tablet.jpg");
  }
}

@media (max-width: $mobile-width) {
  .donate-top-photo {
    height: 221px;
    background-image: url("../assets/img/giant-panda_donate_mobile.jpg");
    background-position: center 12px;
  }
}
