.side-bar {
  width: 100px;
  height: 652px;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-left: 0;
  top: 30px;
  left: 30px;
  background: $orange-gradient-bg;
  border-radius: 5px;
  z-index: 100;
}

.side-bar__link {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: $white;
    border: 2px solid $orange;
    border-radius: 50%;
    top: 0;
    left: 10px;
  }
}

.side-bar__link--active {
  cursor: default;
  &::before {
    border: 2px solid $green;
  }
}

.side-bar__link--gorilla {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/gorilla_icon_default.svg");
    background-repeat: no-repeat;
    background-size: 55px 47px;
    width: 55px;
    height: 47px;
    left: 24px;
    top: 16px;
  }
}

.side-bar__link--gorilla-active::after {
  background-image: url("../assets/icons/gorilla_icon_active.svg");
}

.side-bar__link--alligator {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/alligator_icon_default.svg");
    background-repeat: no-repeat;
    background-size: 64px 30px;
    width: 64px;
    height: 30px;
    left: 18px;
    top: 25px;
  }
}

.side-bar__link--alligator-active::after {
  background-image: url("../assets/icons/alligator_icon_active.svg");
}

.side-bar__link--panda {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/panda_icon_default.svg");
    background-repeat: no-repeat;
    background-size: 58px 42px;
    width: 58px;
    height: 42px;
    left: 19px;
    top: 19px;
  }
}

.side-bar__link--panda-active::after {
  background-image: url("../assets/icons/panda_icon_active.svg");
}

.side-bar__link--eagle {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/eagle_icon_default.svg");
    background-repeat: no-repeat;
    background-size: 54px 48px;
    width: 54px;
    height: 48px;
    left: 22px;
    top: 14px;
  }
}

.side-bar__link--eagle-active::after {
  background-image: url("../assets/icons/eagle_icon_active.svg");
}

.side-bar__link--sloth {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/sloth_icon_default.svg");
    background-repeat: no-repeat;
    background-size: 55px 42px;
    width: 50px;
    height: 41px;
    top: 12px;
    left: 22px;
  }
}

.side-bar__link--sloth-active::after {
  background-image: url("../assets/icons/sloth_icon_hover.svg");
}

.side-bar__link--penguin {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/penguin_icon_default.svg");
    background-repeat: no-repeat;
    background-size: 32px 59px;
    width: 32px;
    height: 59px;
    left: 34px;
    top: 11px;
  }
}

.side-bar__link--penguin-active::after {
  background-image: url("../assets/icons/penguin_icon_hover.svg");
}

.side-bar__link--other {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/other_icon_default.svg");
    background-repeat: no-repeat;
    background-size: 62px 62px;
    width: 62px;
    height: 62px;
    left: 19px;
    top: 9px;
  }
}

.side-bar__link--other-active::after {
  background-image: url("../assets/icons/other_icon_hover.svg");
}

@media (max-width: $small-desktop-width) {
  .side-bar {
    width: 72px;
    height: 438px;
    position: sticky;
    margin-top: 73px;
    // left: 144px;
  }
  .side-bar__link {
    width: 72px;
    height: 72px;
    &::before {
      width: 52px;
      height: 52px;
    }
  }
  .side-bar__link--gorilla {
    &::after {
      background-size: 36px 31px;
      width: 36px;
      height: 31px;
      left: 20px;
      top: 9px;
    }
  }
  .side-bar__link--alligator {
    &::after {
      background-size: 42px 20px;
      width: 42px;
      height: 20px;
      left: 16px;
      top: 16px;
    }
  }
  .side-bar__link--panda {
    &::after {
      background-size: 38px 27px;
      width: 38px;
      height: 27px;
      left: 16px;
      top: 14px;
    }
  }
  .side-bar__link--eagle {
    &::after {
      background-size: 40px 35px;
      width: 40px;
      height: 35px;
      left: 16px;
      top: 8px;
    }
  }
  .side-bar__link--sloth {
    &::after {
      background-size: 38px 42px;
      width: 38px;
      height: 42px;
      top: 3px;
      left: 19px;
    }
  }
  .side-bar__link--penguin {
    &::after {
      background-size: 20px 37px;
      width: 20px;
      height: 37px;
      left: 27px;
      top: 7px;
    }
  }
  .side-bar__link--other {
    &::after {
      background-size: 52px 52px;
      width: 52px;
      height: 52px;
      left: 10px;
      top: 0px;
    }
  }
}

@media (max-width: $tablet-width) {
  .side-bar {
    margin-top: 57px;
    left: 20px;
  }
}
@media (max-width: $mobile-width) {
  .side-bar {
    width: 62px;
    height: 233px;
    position: absolute;
    top: 302px;
    left: 10px;
    margin-top: 0;
  }
  .side-bar__link {
    width: 62px;
    height: 62px;
  }
  .side-bar__link::before {
    top: -5px;
    left: 5px;
  }
  .side-bar__link--gorilla::after {
    left: 13px;
    top: 5px;
  }
  .side-bar__link--alligator::after {
    left: 9px;
    top: 11px;
  }
  .side-bar__link--panda::after {
    left: 11px;
    top: 7px;
  }
  .side-bar__link--other::after {
    left: 5px;
    top: -5px;
  }
  .side-bar__link--eagle,
  .side-bar__link--sloth,
  .side-bar__link--penguin {
    display: none;
  }
}
