.testimonials {
  width: 100%;
  padding-top: 105px;
  padding-bottom: 177px;
  background-image: url("../assets/img/leav_bg_desktop.png");
  background-repeat: no-repeat;
  background-position: right bottom -133px;
  background-size: 247px 408px;
}

.testimonials__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.testimonials__title {
  @include third-level-headings ();
  color: #333B41;
  margin-bottom: 24px;
}

.testimonials__auto-carousel {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials__carousel-wrapper {
  width: 100%;
  max-width: 1160px;
  position: relative;
}

.testimonials__carousel {
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.testimonials__list {
  width: 1160px;
  padding: 2px;
  margin-top: 23px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
}

.testimonials__controls {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 32px;
}

.testimonials__input-wrapper {
  flex: 0 0 1;
  position: relative;
  width: 600px;
  height: 6px;
  border-radius: 5px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    z-index: -1;
    margin: -1px;
    background: $pink-gradient;
  }
}

.testimonials__controls input[type=range] {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #F5F7F6;
  box-sizing: border-box;
  background-clip: padding-box;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #F5F7F6;
  height: 6px;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  width: 118px;
  height: 6px;
  background: $orange;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;

  &:hover {
    background: $green;
  }

  &:active {
    opacity: 0.7;
  }
}

input[type=range]::-moz-range-track {
  background: #F5F7F6;
  height: 6px;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  width: 118px;
  height: 6px;
  background: $orange;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: $green;
  }

  &:active {
    background: $green;
    opacity: 0.7;
  }
}

.testimonials__link {
  display: inline-block;
  align-self: flex-start;
  border-radius: 5px;
  padding: 15px 84px;
  margin-bottom: 2px;
}


.testimonials__popup {
  position: fixed;
  width: 300px;
  height: 430px;
  padding: 10px;
  list-style: none;
  background-color: $light-gray;
  overflow: hidden;
  box-sizing: border-box;
  background-clip: padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
 
  box-shadow: 0 5px 15px 5px rgb(0 0 0 / 40%);  
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  z-index: 1000;
}

.testimonials__popup .testimonials__item {
  height: 405px;
  margin-bottom: 0;
}

.testimonials__popup .testimonials__item blockquote {
  height: 96%;  
}

@media (max-width: $small-desktop-width) {
  .testimonials {
    padding-top: 65px;
    padding-bottom: 138px;
    background-image: url("../assets/img/leav_bg_small-desktop.png");
    background-position: right 604px;
    background-size: 196px 325px;
  }
  .testimonials__wrapper {
    max-width: 940px;
  }
  .testimonials__title {
    margin-bottom: 8px;
  }
  .testimonials__list {
    padding: 2px;
    margin-top: 21px;
  }
  .testimonials__controls {
    margin-bottom: 52px;
  }
  .testimonials__input-wrapper {
    width: 390px;
    margin-left: -10px;
  }
  .testimonials__controls input[type=range] {
    width: 390px;
  }
  input[type=range]::-webkit-slider-thumb {
    width: 75px;
    height: 6px;
  }
  input[type=range]::-moz-range-thumb {
    width: 75px;
    height: 6px;
  }
  .testimonials__link {
    padding: 15px 84px;
  }
}

@media (max-width: $tablet-width) {
  .testimonials {
    padding-top: 25px;
    padding-bottom: 77px;
    background-image: url("../assets/img/leav_bg_tablet.png");
    background-position: right 533px;
    background-size: 116px 204px;
  }
  .testimonials__wrapper {
    max-width: 600px;
    align-items: center;
  }
  .testimonials__list {
    width: 100%;
    flex-direction: column;
    margin-top: 22px;
    height: 363px;
  }
  .testimonials__controls {
    display: none;
  }
  .testimonials__link {
    margin-top: 22px;
    align-self: center;
    padding: 15px 54px;
  }  
}

@media (max-width: $mobile-width) {
  .testimonials {
    padding-bottom: 58px;
    background-image: url("../assets/img/leav_bg_mobile.png");
    background-position: right 516px;
    background-size: 51px 94px;
  }
  .testimonials__wrapper {
    max-width: 97%;
  }
  .testimonials__title {
    font-size: 24px;
    line-height: 120%;
    margin-top: 5px;
    margin-left: -2px;
  }
  .testimonials__list {
    margin-top: 12px;
    margin-bottom: 6px;
    padding: 2px 7px;
  }
  .testimonials__link {
    margin-top: 18px;
    padding: 15px 54px;
  }
}
