.watch-online__container {
  width: 100%;
  position: relative;
}

.watch-online__frame-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 65px;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.watch-online__previews {
  width: 100%;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.watch-online__video {
  margin-right: 28px;
  position: relative;

  &::after {
    content: "live";
    position: absolute;
    color: $black;
    font-size: 16px;
    text-transform: uppercase;
    top: 9px;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 25px;
    background-size: 25px 50px;
    border-radius: 5px;
  }
}

.watch-online__iframe {
  width: 269px;
  height: 210px;
}

.watch-online__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.watch-online__buttons {
  width: 1320px;
  position: absolute;
  top: 46%;
  left: -7%;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.watch-online__button {
  width: 62px;
  height: 62px;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  background: $orange-gradient;
  position: relative;
  outline: none;

  &:hover {
    background: $green;
  }

  &:active {
    opacity: 0.7;
  }
}

.watch-online__button--left {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-left.png");
    background-repeat: no-repeat;
    background-size: 18px 10px;
    background-position: center;
    width: 18px;
    height: 10px;
    top: 27px;
    left: 19px;
  }
}

.watch-online__button--right {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-right.png");
    background-repeat: no-repeat;
    background-size: 18px 10px;
    background-position: center;
    width: 18px;
    height: 10px;
    top: 27px;
    left: 19px;
  }
}

@media (max-width: $small-desktop-width) {
  .watch-online__container {
    max-width: 940px;
  }

  .watch-online__frame-box {
    width: 582px;
    margin-top: 60px;
    margin-left: 134px;
    justify-content: flex-start;
  }

  .watch-online__previews {
    width: 100%;
    height: 210px;
  }

  .watch-online__buttons {
    width: 65px;
    flex-direction: column-reverse;
    left: 82%;
    top: 31%;
  }

  .watch-online__button--right {
    margin-bottom: 10px;
  }
}

@media (max-width: $tablet-width) {
  .watch-online__container {
    max-width: 600px;
  }

  .watch-online__frame-box {
    width: 408px;
    margin-left: 0;
  }

  .watch-online__previews {
    width: 100%;
    height: 140px;
  }

  .watch-online__video {
    margin-right: 25px;
  }

  .watch-online__iframe {
    width: 180px;
    height: 140px;
  }

  .watch-online__button {
    width: 43px;
    height: 43px;
  }

  .watch-online__button--left::before,
  .watch-online__button--right::before {
    width: 17px;
    height: 6px;
  }

  .watch-online__button--left::before {
    top: 15px;
    left: 15px;
  }

  .watch-online__button--right::before {
    top: 19px;
    left: 12px;
  }
}

@media (max-width: $mobile-width) {
  .animal-page__wrapper {
    max-width: 100%;
    width: 100%;
    margin: 0 10px;
  }
  .watch-online__container {
    max-width: calc(100% - 80px - 28px);
    margin-left: 80px;
    margin-right: 28px;
  }

  .watch-online__frame-box {
    width: 100%;
    margin-top: 20px;
  }

  .watch-online__previews {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .watch-online__video {
    width: calc(100% / 2);
    margin-right: 0;
    padding-right: 10px;
  }

  .watch-online__video:nth-child(5),
  .watch-online__video:nth-child(6),
  .watch-online__video:nth-child(7) {
    display: none;
  }

  .watch-online__iframe {
    width: 100%;
    height: auto;
  }

  .watch-online__buttons {
    display: none;
  }
}