.backstage {
  padding-top: 100px;
  padding-bottom: 86px;
  background-image: url("../assets/img/flower_bg_desktop.png");
  background-repeat: no-repeat;
  background-position: right bottom 24px;
  background-size: 204px 613px;
}

.backstage__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.backstage__img {
  margin-right: 86px;
  margin-top: 26px;
}

.backstage__info {
  width: 465px;
  text-align: left;
}

.backstage__title {
  @include second-level-headings ();
  color: $main-text-color;
  margin-bottom: 22px;
}

.backstage__subtitle {
  @include fourth-level-headings ();
  color: $main-text-color;
  margin-top: 53px;
  margin-bottom: 32px;
}

.backstage__text--two br {
  display: none;
}

@media (max-width: $small-desktop-width) {
  .backstage {
    padding-top: 50px;
    padding-bottom: 46px;
    background-image: none;
  }
  .backstage__wrapper {
    max-width: 940px;
  }
  .backstage__img {
    width: 455px;
    height: 408px;
    margin-right: 43px;
    margin-top: 42px;
  }
  .backstage__title {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .backstage__subtitle {
    margin-top: 54px;
  }
}

@media (max-width: $tablet-width) {
  .backstage {
    padding-top: 19px;
    padding-bottom: 15px;
    background-image: url("../assets/img/flower_bg_tablet.png");
    background-repeat: no-repeat;
    background-position: right -32px;
    background-size: 132px 484px;
  }
  .backstage__wrapper {
    max-width: 600px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .backstage__img {
    display: none;
  }
  .backstage__info {
    width: 495px;
  }
  .backstage__title {
    margin-left: 5px;
    margin-top: 16px;
  }
  .backstage__subtitle {
    margin-top: 31px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width) {
  .backstage {
    padding-top: 45px;
    padding-bottom: 0;
    background-image: url("../assets/img/flower_bg_mobile.png");
    background-size: 35px 225px;
    background-position: right 40px;
  }
  .backstage__wrapper {
    width: 93%;
  }
  .backstage__info {
    width: 100%;
  }
  .backstage__title {
    width: 100%;
    font-size: 24px;
    margin-top: 62px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .backstage__subtitle {
    margin-top: 22px;
    margin-left: 2px;
    margin-bottom: 12px;
  }
  .backstage__text {
    margin-top: 11px;
  }
  .backstage__text--one {
    line-height: 130%;
  }
  .backstage__text--two {
    line-height: 140%;
  }
  .backstage__text--two br {
    display: block;
  }
}

