.donate-top-photo {
    width: 100%;
    height: 386px;
    background-image: url("../assets/img/giant-panda_desktop.jpg");
    background-repeat: no-repeat;
    background-position: center -342px;
    background-size: cover;
}