.main-nav__toggle {
  display: none;
}

.main-nav {
  width: 100%;
  position: relative;
  padding-left: 62px;
}

.main-nav__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin: 10px 0;
}

.main-nav__item {
  margin-right: 58px;
}

.main-nav__link {
  display: inline-block;
  color: $white;
  font-weight: 500;
  cursor: pointer;
  &:active {
    opacity: 0.7;
  }
}

.main-nav__item--designed {
  margin-right: 0px;
  margin-left: auto;
}

.main-nav__link--active {
  color: $orange;
  cursor: default;
}

@media (max-width: $small-desktop-width) {
.main-nav__item:not(.main-nav__item--designed) {
  margin-right: 48px;
}
}

@media (max-width: $tablet-width) {
  .main-nav {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 320px;
    margin: 0px;
  }
  .main-nav--closed {
    position: fixed;
    right: -500px;
    transform: translateX(100%);
    transition: all .7s ease-out;
  }
  .main-nav--opened {
    position: fixed;
    right: 0;
    transform: translateX(0%);
    transition: all .7s ease-out;
  }
  .main-nav__toggle {
    position: absolute;
    background-color: transparent;
    width: 45px;
    height: 35px;
    top: 0px;
    right: 0px;
    z-index: 3000;
    display: block;
    cursor: pointer;
    padding: 0;
    outline: none;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../assets/icons/burger_menu_tablet.png");
      background-repeat: no-repeat;
      left: 6px;
      top: 10px;
      width: 18px;
      height: 10px;
    }
  }
  .main-nav__list {
    width: 320px;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 250px;
    margin-bottom: 213px;
  }
  .main-nav__item {
    padding-top: 10px;
    padding-bottom: 52px;
  }
  .main-nav__link {
    display: block;
  }
  .main-nav__link--active {
    padding-bottom: 13px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__toggle {
    &::before {
      left: 16px;
    }
  }
}

