.pets {
  padding-top: 76px;
  padding-bottom: 115px;
  background-image: url("../assets/img/palm_bg_desktop.png"), url("../assets/img/strelitzia_desktop.png");
  background-repeat: no-repeat;
  background-position: -7px 722px, 1225px 907px;
  background-size: 292px 460px, 368px 275px;
  background-position: left bottom, right bottom;
}

.pets__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}

.pets__slider {
  position: relative;
  width: 100%;
  height: 892px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 76px;
  padding-left: 0;
}

.pets__list {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  animation: 0.5s ease-in-out;
}

.pets__list--active,
.pets__list--next {
  display: block;
}

.pets__list--next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.pets__item {
  width: 366px;
  display: inline-block;
  position: relative;
  margin-bottom: 14px;
  margin-right: 25px;
  background-color: $white;
  text-align: left;
  border: 1px solid #FE9013;
  border-radius: 5px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.pets__item:nth-child(3n) {
  margin-right: 0px;
}

@keyframes up {
  0% {
    bottom: 40px;
  }
  100% {
    bottom: 235px;
  }
}

@keyframes up2 {
  0% {
    bottom: 15px;
  }
  100% {
    bottom: 210px;
  }
}

.pets__image-wrapper {
  position: relative;
  overflow: hidden;
}

.pets__image-wrapper::before {
  position: absolute;
  bottom: 0;
  left: 50px;
  color: $white;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: none;
  z-index: 200;
}

.pets__image-wrapper--panda::before {
  content: "giant Pandas";
}

.pets__image-wrapper--eagles::before {
  content: "Eagles";
}

.pets__image-wrapper--gorillas::before {
  content: "Gorillas";
}

.pets__image-wrapper--sloth::before {
  content: "Two-toed Sloth";
}

.pets__image-wrapper--cheetahs::before {
  content: "Cheetahs";
}

.pets__image-wrapper--penguins::before {
  content: "Penguins";
}

.pets__image-wrapper--fox::before {
  content: "fox";
}

.pets__image-wrapper--elephant::before {
  content: "elephant";
}

.pets__image-wrapper--kangaroo::before {
  content: "kangaroo";
}

.pets__image-wrapper--koala::before {
  content: "koala";
}

.pets__image-wrapper--parrots::before {
  content: "parrots";
}

.pets__image-wrapper--zebra::before {
  content: "zebra";
}

.pets__image-wrapper--squirrel::before {
  content: "squirrel";
}

.pets__image-wrapper--bear::before {
  content: "bear";
}

.pets__image-wrapper--boar::before {
  content: "boar";
}

.pets__image-wrapper--bison::before {
  content: "bison";
}

.pets__image-wrapper--owl::before {
  content: "owl";
}

.pets__image-wrapper--deer::before {
  content: "deer";
}

.pets__image-wrapper::after {
  position: absolute;
  bottom: 0;
  left: 50px;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  display: none;
  z-index: 200;
}

.pets__image-wrapper--panda::after {
  content: "Native to Southwest China";
}

.pets__image-wrapper--eagles::after {
  content: "Native to South America";
}

.pets__image-wrapper--gorillas::after {
  content: "Native to Congo";
}

.pets__image-wrapper--sloth::after {
  content: "Mesoamerica, South America";
}

.pets__image-wrapper--cheetahs::after,
.pets__image-wrapper--elephant::after,
.pets__image-wrapper--zebra::after {
  content: "Native to Africa";
}

.pets__image-wrapper--penguins::after {
  content: "Native to Antarctica";
}

.pets__image-wrapper--fox::after,
.pets__image-wrapper--squirrel::after,
.pets__image-wrapper--bear::after,
.pets__image-wrapper--boar::after,
.pets__image-wrapper--bison::after,
.pets__image-wrapper--owl::after,
.pets__image-wrapper--deer::after {
  content: "Native to Europe";
}

.pets__image-wrapper--kangaroo::after,
.pets__image-wrapper--koala::after,
.pets__image-wrapper--parrots::after {
  content: "Native to Australia";
}

.pets__item:hover .pets__image-wrapper::before {
  display: block;
  animation: up 1s;
  animation-fill-mode: forwards;
  z-index: 200;
}

.pets__item:hover .pets__image-wrapper::after {
  display: block;
  animation: up2 1s;
  animation-fill-mode: forwards;
  z-index: 200;
}

.pets__img {
  display: block;
  transition: all .5s ease-in-out;
}

.pets__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  display: none;
  transition: all .7s;
  z-index: 100;
}

.pets__item:hover .pets__overlay {
  display: block;
}

.pets__item:hover .pets__img {
  transform: scale(1.1);
  transition: all .5s ease-in-out;
}

.pets__info {
  margin-left: 14px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    right: 11px;
    top: 0;
  }
}

.pets__info--panda,
.pets__info--gorillas,
.pets__info--sloth,
.pets__info--elephant,
.pets__info--kangaroo,
.pets__info--koala,
.pets__info--parrots,
.pets__info--zebra {
  &::before {
    background-image: url("../assets/icons/banana-bamboo_icon.png");
    background-size: 33px 37px;
    width: 33px;
    height: 37px;
  }
}

.pets__info--eagles,
.pets__info--cheetahs,
.pets__info--penguins,
.pets__info--fox,
.pets__info--bear,
.pets__info--owl {
  &::before {
    background-image: url("../assets/icons/meet-fish_icon.png");
    background-size: 48px 38px;
    width: 48px;
    height: 38px;
    right: 8px;
  }
}

// .pets__info--boar,
// .pets__info--bison,
// .pets__info--deer {
//   &::before {
//     background-image: url("../assets/icons/leaves_icon.png");
//     background-size: 50px 43px;
//     width: 50px;
//     height: 43px;
//   }
// }

// .pets__info--squirrel {
//   &::before {
//     background-image: url("../assets/icons/nuts_icon.png");
//     background-size: 50px 50px;
//     width: 50px;
//     height: 50px;
//     top: -8px;
//   }
// }

.pets__name {
  font-weight: 500;
  text-transform: uppercase;
  color: $black;
  margin-top: 10px;
  margin-bottom: -2px;
}

.pets__home-country {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: $black;
  margin-top: 0;
  margin-bottom: 12px;
}

.pets__buttons {
  width: 1320px;
  position: absolute;
  top: 44%;
  left: -7%;
  margin-top: -31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pets__button {
  width: 62px;
  height: 62px;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  background: $orange-gradient;
  position: relative;
  outline: none;
  &:hover {
    background: $green;
  }
  &:active {
    opacity: .7;
  }
}

.pets__button--left {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-left.png");
    background-repeat: no-repeat;
    background-size: 18px 10px;
    background-position: center;
    width: 18px;
    height: 10px;
    top: 27px;
    left: 19px;
  }
}

.pets__button--right {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-right.png");
    background-repeat: no-repeat;
    background-size: 18px 10px;
    background-position: center;
    width: 18px;
    height: 10px;
    top: 27px;
    left: 19px;
  }
}

.pets__link {
  border-radius: 25px;
  padding: 17px 56px;
}
