// styles for index page
.pick-and-feed {
  background: $orange-gradient-bg;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
}

.pick-and-feed__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  background: $opacity-bg;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 59px;
}

.pick-and-feed__title {
  @include second-level-headings ();
  color: $orange;
  margin-top: 0;
  margin-bottom: 0;
}

.pick-and-feed__subtitle {
  @include fourth-level-headings ();
  color: $main-text-color;
  margin-bottom: 40px;
}

.pick-and-feed__subtitle,
.pick-and-feed__info,
.pick-and-feed__text {
  margin-left: 100px;
  text-align: left;
}

.pick-and-feed__info {
  margin-bottom: 0;
}

.pick-and-feed__text {
  width: 870px;
  margin-top: 7px;
  margin-bottom: 6px;
}

.pick-and-feed__text-link {
  display: inline-block;
  color: #333B41;
  padding-bottom: 1px;
  border-bottom: 1px solid $orange;
}

.pick-and-feed__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 45px;
  padding-left: 0px;
}

.pick-and-feed__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 0;
  padding-top: 0;
}

.pick-and-feed__item:not(:last-of-type) {
  margin-right: 130px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/icons/arrow-pick-and-feed.png");
    background-repeat: no-repeat;
    background-size: 71px 37px;
    background-position: center;
    width: 71px;
    height: 37px;
    top: 60px;
    left: 200px;
  }
}

.pick-and-feed__container-img {
  width: 168px;
  height: 168px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border: 1px solid $orange;
  border-radius: 5px;
  box-sizing: border-box;
  background-clip: padding-box;
}

.pick-and-feed__container-img--pay img {
  width: 108px;
  height: 60px;
}

.pick-and-feed__container-img--zoo img {
  width: 87px;
  height: 96px;
}

.pick-and-feed__container-img--monkey img {
  width: 127px;
  height: 73px;
}

.pick-and-feed__item p {
  width: 168px;
  text-align: left;
  margin-top: 30px;
}

.pick-and-feed__link {
  display: inline-block;
  border-radius: 25px;
  padding: 15px 72px;
}

.pick-and-feed__caption {
  @include third-level-headings ();
  color: $main-text-color;
  margin-top: 56px;
}

// styles for page Donate
.pick-and-feed--donate  {
  padding-top: 5px;
  padding-bottom: 180px;
}
.pick-and-feed__wrapper--donate {  
  padding: 40px 92px 46px;
}
.pick-and-feed__container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.pick-and-feed__slogan {
  @include third-level-headings ();
  width: 100%;
  color: $white;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}

.pick-and-feed__information {
  width: 100%;
  margin-top: 10px;
  padding-right: 5px;
  text-align: left;
  color: $white;
}

.pick-and-feed__inforamtion-title {
  @include third-level-headings ();
  color: $orange;
  text-align: left;
  margin-top: 44px;
  margin-bottom: 59px;
}

.pick-and-feed__title--donate {
  margin-left: -12px;
}

.pick-and-feed__subtitle--donate {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 22px;
}

@media (max-width: $small-desktop-width) {
  .pick-and-feed {
    padding-top: 30px;
    padding-bottom: 48px;
  }
  .pick-and-feed__wrapper {
    max-width: 940px;
    padding-top: 30px;
    padding-bottom: 51px;
  }
  .pick-and-feed__subtitle {
    width: 854px;
    margin-top: 22px;
    margin-bottom: 20px;
  }
  .pick-and-feed__subtitle,
  .pick-and-feed__info,
  .pick-and-feed__text {
    margin-left: 50px;
  }
  .pick-and-feed__info,
  .pick-and-feed__text {
    width: 810px;
  }
  .pick-and-feed__info {
    font-weight: 500;
    line-height: 130%;
  }
  .pick-and-feed__text-link {
    padding-bottom: 0;
  }
  .pick-and-feed__caption {
    margin-top: 40px;
  }
  .pick-and-feed__list {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 56px;
  }
  .pick-and-feed__item p {
    margin-top: 30px;
  }
  .pick-and-feed__item:not(:last-of-type)::after {
    top: 23%;
    left: 196px;
  }
}

@media (max-width: $tablet-width) {
  .pick-and-feed {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pick-and-feed__wrapper {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .pick-and-feed__subtitle,
  .pick-and-feed__info,
  .pick-and-feed__text {
    width: 95%;
    margin-left: 0;
  }
  .pick-and-feed__title {
    font-size: 42px;
  }
  .pick-and-feed__subtitle,
  .pick-and-feed__info,
  .pick-and-feed__text {
    margin-left: 20px;
  }
  .pick-and-feed__subtitle {
    font-size: 22px;
  }
  .pick-and-feed__caption {
    margin-top: 28px;
    margin-bottom: 20px;
  }
  .pick-and-feed__list {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 26px;
    // margin-left: 20px;
    justify-content: center;
    padding: 0;
  }
  .pick-and-feed__container-img {
    width: 168px;
  }
  .pick-and-feed__item:not(:last-of-type) {
    margin-right: 42px;
    &::after {
      background-image: url("../assets/icons/green-arrow_tablet.png");
      background-size: 89px 29px;
      width: 89px;
      height: 29px;
      top: -16px;
      left: 136px;
      z-index: 100;
    }
  }
}

@media (max-width: $mobile-width) {
  .pick-and-feed {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pick-and-feed__wrapper {
    width: 94%;
    padding-top: 21px;
    padding-bottom: 41px;
  }
  .pick-and-feed__title {
    font-size: 24px;
  }
  .pick-and-feed__info,
  .pick-and-feed__text {
    display: none;
  }
  .pick-and-feed__subtitle {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-top: 12px;
    margin-left: 0px;
  }
  .pick-and-feed__caption {
    margin-top: 23px;
    font-size: 24px;
    line-height: 120%;
  }
  .pick-and-feed__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pick-and-feed__list {
    width: 170px;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2px;
    margin-top: 0;
    margin-left: 40px;
  }
  .pick-and-feed__item:last-of-type {
    margin-right: 42px;
  }
  .pick-and-feed__item:not(:last-of-type) {
    &::after {
      background-image: url("../assets/icons/green-arrow_tablet.png");
      background-size: 89px 29px;
      width: 89px;
      height: 29px;
      top: 79%;
      left: 141px;
      z-index: 100;
      transform: rotate(83deg);
    }
  }
  .pick-and-feed__item p {
    margin-top: 10px;
    margin-bottom: 41px;
  }
  .pick-and-feed__item:nth-child(2) {
    &::after {
      top: 79%;
      transform: rotate(85deg);
    }
  }
  .pick-and-feed__item:nth-child(2) p {
    margin-bottom: 30px;
  }
  .pick-and-feed__link {
    padding: 14px 70px;
    width: 300px;
  }
}