.testimonials {
  width: 100%;
  padding-top: 105px;
  padding-bottom: 177px;
  background-image: url("../assets/img/leav_bg_desktop.png");
  background-repeat: no-repeat;
  background-position: right bottom -133px;
  background-size: 247px 408px;
}

.testimonials__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.testimonials__title {
  @include third-level-headings ();
  color: #333B41;
  margin-bottom: 24px;
}

.testimonials__auto-carousel {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials__carousel-wrapper {
  width: 100%;
  max-width: 1160px;
  position: relative;
}

.testimonials__carousel {
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.testimonials__list {
  width: 1160px;
  padding: 2px;
  margin-top: 23px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  overflow: hidden;
}

.testimonials__controls {
  display: flex;
  justify-content: center;
  margin-top: 9px;
  margin-bottom: 32px;
}

.testimonials__input-wrapper {
  flex: 0 0 1;
  position: relative;
  width: 600px;
  height: 6px;
  border-radius: 5px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    z-index: -1;
    margin: -1px;
    background: $pink-gradient;
  }
}

.testimonials__controls input[type=range] {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #F5F7F6;
  box-sizing: border-box;
  background-clip: padding-box;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #F5F7F6;
  height: 6px;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  width: 118px;
  height: 6px;
  background: $orange;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;

  &:hover {
    background: $green;
  }

  &:active {
    opacity: 0.7;
  }
}

input[type=range]::-moz-range-track {
  background: #F5F7F6;
  height: 6px;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  width: 118px;
  height: 6px;
  background: $orange;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: $green;
  }

  &:active {
    background: $green;
    opacity: 0.7;
  }
}

.testimonials__link {
  display: inline-block;
  align-self: flex-start;
  border-radius: 5px;
  padding: 15px 84px;
  margin-bottom: 2px;
}