.testimonial-card {
  width: 265px;
  height: 387px;
  position: relative;
  margin-right: 32px;
  background-color: $light-gray;
  border-radius: 20px;
  box-sizing: border-box;
  background-clip: padding-box;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    z-index: -1;
    margin: -2px;
    background: $pink-gradient;
  }
}

.testimonial-card blockquote {
  margin: 14px 15px;
}

.testimonial-card__user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.testimonial-card__user-avatar {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.testimonial-card__user-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.testimonial-card__user-name {
  flex: 1;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: $black;
}

.testimonial-card__box {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.testimonial-card__user-local,
.testimonial-card__day {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonial-card__user-local {
  position: relative;
  margin-right: 16px;
  &::after {
    content: ".";
    position: absolute;
    left: 91px;
    top: -8px;
    font-size: 30px;
    color: #BDBDBD;
  }
}

.testimonial-card__text {
  width: 236px;
  margin: 0;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: $gray;
}

@media (max-width: $small-desktop-width) {
  .testimonial-card {
    width: 293px;
    height: 387px;
    margin-right: 32px;
  }
  .testimonial-card__text {
    width: 260px;
    font-size: 16px;
  }
  .testimonial-card blockquote {
    margin: 12px 15px;
  }
}

@media (max-width: $tablet-width) {
  .testimonial-card {
    width: 100%;
    height: 104px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .testimonial-card__text {
    width: 100%;
  }
  .testimonial-card blockquote {
    height: 84px;
    overflow: hidden;
    margin: 13px 10px 8px 11px;
  }
}

@media (max-width: $mobile-width) {
  .testimonial-card {
    margin-bottom: 20px;
  }
  .testimonial-card blockquote {
    margin: 10px 10px 10px 12px;
  }
}

