.watch-your-favorite-animal {
  width: 100%;
  padding-bottom: 98px;
  background-color: $white;
  background-image: url("../assets/img/giant-panda_desktop.jpg");
  background-repeat: no-repeat;
  background-position: center -225px;
  background-size: cover;
}

.watch-your-favorite-animal__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.watch-your-favorite-animal__title {
  width: 495px;
  position: relative;
  margin-top: 83px;
  margin-bottom: 61px;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 106px;
  line-height: 76%;
  text-transform: uppercase;
  color: $white;
  z-index: 100;
  &::before {
    content: "";
    position: absolute;
    top: -70px;
    right: 107px;
    width: 465px;
    height: 465px;
    background: $orange-gradient;
    border-radius: 50%;
    z-index: -1;
  }
}

.watch-your-favorite-animal__btn {
  border-radius: 25px;
  margin-right: 98px;
}

.watch-your-favorite-animal__title span {
  color: $yellow;
}

@media (max-width: $small-desktop-width) {
  .watch-your-favorite-animal {
    padding-bottom: 47px;
    background-image: url("../assets/img/giant-panda_small-desktop.jpg");
    background-position: center -80px
  }
  .watch-your-favorite-animal__wrapper {
    width: 100%;
    max-width: 940px;
  }
  .watch-your-favorite-animal__title {
    width: 400px;
    font-size: 85px;
    line-height: 75%;
    margin-top: 44px;
    margin-right: 55px;
    margin-bottom: 39px;
    &::before {
      width: 367px;
      height: 367px;
      top: -55px;
      right: 92px;
    }
  }
  .watch-your-favorite-animal__btn {
    margin-right: 108px;
    padding: 15px 91px;
  }
}

@media (max-width: $tablet-width) {
  .watch-your-favorite-animal {
    padding-top: 33px;
    padding-bottom: 66px;
    background-image: url("../assets/img/giant-panda_tablet.jpg");
    background-position: center -26px;
  }
  .watch-your-favorite-animal__wrapper {
    max-width: 600px;
  }
  .watch-your-favorite-animal__title {
    width: 255px;
    font-size: 54px;
    margin-top: 48px;
    margin-right: -3px;
    margin-bottom: 0;
    &::before {
      width: 237px;
      height: 237px;
      top: -36px;
      right: 55px;
    }
  }
  .watch-your-favorite-animal__btn {
    margin-top: -7px;
    padding: 15px 96px;
    align-self: flex-start;
  }
}

@media (max-width: $mobile-width) {
  .watch-your-favorite-animal {
    padding-bottom: 40px;
    background-image: url("../assets/img/giant-panda_mobile.jpg");
    background-position: center 33px;
  }
  .watch-your-favorite-animal__wrapper {
    max-width: 300px;
    position: relative;
    overflow: visible;
  }
  .watch-your-favorite-animal__title {
    width: 128px;
    font-size: 28px;
    margin-top: 42px;
    margin-right: 1px;
    &::before {
      width: 119px;
      height: 119px;
      top: -18px;
      right: 26px;
    }
  }
  .watch-your-favorite-animal__btn {
    width: 100%;
    position: absolute;
    padding: 14px 95px;
    top: 216px;
    z-index: 100;
  }
}

