.watch-your-favorite-animal {
  width: 100%;
  padding-bottom: 98px;
  background-color: $white;
  background-image: url("../assets/img/giant-panda_desktop.jpg");
  background-repeat: no-repeat;
  background-position: center -218px;
  background-size: cover;
}

.watch-your-favorite-animal__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.watch-your-favorite-animal__title {
  width: 495px;
  position: relative;
  margin-top: 83px;
  margin-bottom: 61px;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 106px;
  line-height: 76%;
  text-transform: uppercase;
  color: $white;
  z-index: 100;
  &::before {
    content: "";
    position: absolute;
    top: -70px;
    right: 107px;
    width: 465px;
    height: 465px;
    background: $orange-gradient;
    border-radius: 50%;
    z-index: -1;
  }
}

.watch-your-favorite-animal__btn {
  border-radius: 25px;
  margin-right: 98px;
}

.watch-your-favorite-animal__title span {
  color: $yellow;
}
