@mixin orange-btn () {
  background: $orange-gradient;
  padding: 15px 95px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $orange-hover;
  }
  &:active {
    background: $green;
  }
}

@mixin second-level-headings () {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 120%;
}

@mixin third-level-headings () {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 130%;
}

@mixin fourth-level-headings () {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
}
